@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Plus Jakarta Sans', 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --animate-spin-horizontal: spin-horizontal 8s linear infinite;

    @keyframes spin-horizontal {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
}
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Executive Compact Typography Scaling for 100% Desktop Viewport */
@media (min-width: 1024px) {
    html {
        font-size: 13.5px !important;
    }
}
